[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/assimp/assimp.git
[submodule "deps/entt"]
	path = deps/entt
	url = https://github.com/skypjack/entt.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/filedialog"]
	path = deps/filedialog
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "deps/imguizmo"]
	path = deps/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/glslang"]
	path = deps/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "deps/lua"]
	path = deps/lua
	url = https://github.com/irrld/lua.git
[submodule "deps/luabridge3"]
	path = deps/luabridge3
	url = https://github.com/kunitoki/LuaBridge3.git
